
$collection: hotpink, orange, limegreen, mediumpurple, cornflowerblue;

@mixin bg-color-light($color) {
    background: lighten($color, 15%);
}

@mixin bg-color-dark($color) {
    background: darken($color, 30%);
}

:export {
    colection: $collection;
}
