
$light-colors: orangered, hotpink, orange, limegreen, mediumpurple;
$dark-colors: firebrick, forestgreen, steelblue, darkcyan, darkslateblue;

@mixin bg-color-light($ind) {
    background: lighten(nth($light-colors, $ind), 15%);
}

@mixin bg-color-dark($ind) {
    background: darken(nth($dark-colors, $ind), 15%);
}

:export {
    colorsCount: length($light-colors);
}
