$collection: (one: hotpink, two: orange, three: limegreen, four: mediumpurple, five: cornflowerblue);

@mixin bg-color-light($color) {
    background: lighten($color, 15%);
}

@mixin bg-color-dark($color) {
    background: darken($color, 30%);
}

:export {
    keys: map-keys($collection);
}
