@import "colors.module";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0 3rem;
  margin: auto;
  font-family: Unbounded;
  color: black;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

a {
  color: inherit;
}

body.bgColor1 {
  @include bg-color-light(1);
}

body.bgColor2 {
  @include bg-color-light(2);
}

body.bgColor3 {
  @include bg-color-light(3);
}

body.bgColor4 {
  @include bg-color-light(4);
}

body.bgColor5 {
  @include bg-color-light(5);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
  body.bgColor1 {
    @include bg-color-dark(1);
  }

  body.bgColor2 {
    @include bg-color-dark(2);
  }

  body.bgColor3 {
    @include bg-color-dark(3);
  }

  body.bgColor4 {
    @include bg-color-dark(4);
  }

  body.bgColor5 {
    @include bg-color-dark(5);
  }
}

@font-face {
  font-family: "Unbounded";
  src: url("../../asset/Unbounded/Unbounded-Light.ttf");
  src: url("../../asset/Unbounded/Unbounded-Regular.ttf");
  src: url("../../asset/Unbounded/Unbounded-SemiBold.ttf");
  font-weight: 300;
  font-style: normal;
}
