@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@use 'colors.module';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0 2rem;
  margin: auto;
  font-family: 'Philosopher', serif;
  color: black;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

a {
  color: inherit;
}

@each $key, $color in colors.$collection {
  body.bg-color-#{$key} {
    @include colors.bg-color-light($color);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
  @each $key, $color in colors.$collection {
    body.bg-color-#{$key} {
      @include colors.bg-color-dark($color);
    }
  }
}
