@use 'colors.module';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0 3rem;
  margin: auto;
  font-family: Unbounded;
  color: black;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

a {
  color: inherit;
}

@each $color in colors.$collection {
  body.bg-color-#{$color} {
    @include colors.bg-color-light($color);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
  @each $color in colors.$collection {
    body.bg-color-#{$color} {
      @include colors.bg-color-dark($color);
    }
  }
}

@font-face {
  font-family: "Unbounded";
  src: url("../../asset/Unbounded/Unbounded-Light.ttf");
  src: url("../../asset/Unbounded/Unbounded-Regular.ttf");
  src: url("../../asset/Unbounded/Unbounded-SemiBold.ttf");
  font-weight: 300;
  font-style: normal;
}
