@import "shadows";

.intro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  .image {
    position: relative;
    width: 250px;
    height: 250px;
    min-height: 250px;
    min-width: 250px;
    align-self: end;
  }
  .text {
    margin-right: 2.5rem;
    > h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.8rem;
      line-height: 1.4;
      margin-top: 0.5rem;
    }
  }

  @media (min-width: 1800px) {
    .image {
      width: 500px;
      height: 500px;
      min-width: 500px;
    }
    .text {
      margin-right: 6rem;
      > h1 {
        font-size: 9rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 3.5rem;
        margin-top: 1rem;
      }
    }
  }
  @media (max-width: 992px) {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    .image {
      width: 500px;
      height: 500px;
    }
    .text {
      margin: 0;
      width: 100%;
      text-align: center;
      > h1 {
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 2rem;
        margin-top: 0.75rem;
      }
    }
    div {
      margin-bottom: 1.5rem;
      align-self: center;
    }
  }
  @media (max-width: 768px) {
    .image {
      width: 400px;
      height: 400px;
    }
    .text {
      > h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.6rem;
        margin-top: 0.5rem;
      }
    }
  }
  @media (max-width: 550px) {
    padding-bottom: 1.5rem;
    .image {
      width: 300px;
      height: 300px;
    }
    .text {
      > h1 {
        font-size: 3rem;
        margin-bottom: 0.75rem;
      }
      p {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }
  }
  @media (max-width: 375px) {
    .image {
      width: 250px;
      height: 250px;
    }
    .text {
      > h1 {
        font-size: 2.25rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1.1rem;
        margin-top: 0.25rem;
      }
    }
  }
}
