@import "_shadows";

.intro {
  display: flex;
  .image {
    position: relative;
    width: 250px;
    height: 250px;
    @include shadow(3);
  }
  .text {
    margin-right: 3rem;
    .title {
      padding-bottom: 1rem;
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  

  @media (min-width: 1800px) {
    .image {
      width: 500px;
      height: 500px;
    }
    .text {
      margin-right: 6rem;
      .title {
        padding-bottom: 4rem;
        font-size: 10rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    .image {
      width: 500px;
      height: 500px;
    }
    .text {
      margin: 0;
      width: 100%;
    }
    div {
      margin-bottom: 1rem;
      align-self: center;
    }
  }
  @media (max-width: 660px) {
    .image {
      width: 300px;
      height: 300px;
    }
    .text {
      .title {
        padding-bottom: 0.5rem;
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 440px) {
    .image {
      width: 200px;
      height: 200px;
    }
  }
}
