@import "_colors.module";

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .block {
    width: 100%;
    margin-bottom: 4rem;
    justify-content: center;

    p {
      font-size: 1rem;
    }
  }

  // .breakline {
  //   width: 100%;
  //   height: 2rem;
  //   margin: 2rem 0;
  //   background: black;
  // }
}

$border-size: 278px;

@media (max-width: 660px) {
  .main {
    max-width: calc(300px - (50px * 2));
    min-width: 200px;
  }
}
@media (min-width: 660px) {
  .main {
    max-width: calc(576px - (30px * 2));
  }
}
@media (min-width: 769px) {
  .main {
    max-width: calc(768px - (63px * 2));
  }
}
@media (min-width: 992px) {
  .main {
    max-width: calc(992px - (175px * 2));
  }
}
@media (min-width: 1200px) {
  .main {
    max-width: calc(1200px - (278px * 2));
  }
}
@media (min-width: 1800px) {
  .main {
    max-width: calc(1800px - (258px * 2));
    padding: 8rem 0;
  }
}

// .grid {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   max-width: 800px;
// }